<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Agenda</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../static/styles/bootstrap.css" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="../static/styles/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="../static/styles/responsive.css" rel="stylesheet" />
  <script>
    function render(el){
      el.innerHTML = Intl.DateTimeFormat('pt', { month: 'long' }).format(new Date('01'));
    };
  </script>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <h3>
              Priority
            </h3>
            <span> Agenda</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="agenda">Lista de Atividades<span class="sr-only">(current)</span></a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
              <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

  <!-- event section -->
  <section class="event_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <div>
            <h3>
              Atividades
            </h3>
            <p>
              Suas atividades em ordem de prioridade!
            </p>
        </div>
        <form class="remove_activities" action="{{ url_for('remove_todas_atividades') }}" method="post">
            <button type="submit" style="background-color: #787878;">
              Remover Todas Atividades
            </button>
        </form>
      </div>
      <div class="event_container">
        
        <!-- loop box -->
        {% for at in atividades%}
          <div class="box">
            <div class="activity-box">
              <h4>
                {{ at['nome_atividade'] }}
              </h4>
              <h6>
                {{ at['materia'] }}
              </h6>
            </div>
            <div class="detail-box">
              <h4>
                  <b>Peso: </b>
                  {{ at['peso_atividade'] }}
                  <b>%</b>
              </h4>
              <!--
              <h6>

                  <b>Tranca: </b>Cálculo, APC, etc.
              </h6>
                -->
            </div>
            <div class="date-box">
              <h3>
                <span>
                {{ at['data_fim'] }}
                </span>
              </h3>
            </div>
          </div>
        {% endfor %}
        <!-- end box loop -->

      </div>
    </div>
  </section>

  <!-- end event section -->


  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; 2022 All Rights Reserved By
      <a href="">Kernel Panic</a>
    </p>
  </footer>
  <!-- footer section -->

  <script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/bootstrap.js"></script>

</body>

</html>